* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFF8D9;
}

.appbar {}

.hero p {
    color: grey;
}

.tengah {
    width: 500px;
    margin: 0 auto;
}

.hitam {
    color: black;
    font-weight: 600;
}

.title-main h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
}

.title-main hr {
    width: 200px;
    height: 2px;
    background: rgb(78, 78, 78);
    margin: auto;
}

.marginbody {
    margin-top: 100px;
}

.card-style {
    background-color: #FFF8D9;
    max-width: 540px;
    border-radius: 10px;
}

.profil h1 {
    text-align: center;
    margin-top: 170px;
    font-size: 40px;
    font-weight: 500;
}

.profil hr {
    width: 200px;
    height: 2px;
    background: rgb(78, 78, 78);
    margin: auto;
}

.profil {
    width: 300px;
    margin: 100px auto;
}

.kotakprofil {
    margin-top: 30px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 350px;
}

.kotakprofil:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    color: #2b50b4;
}

.kotakprofil img {
    margin-top: 30px;
    border-radius: 100%;
}

.kotakprofil h4 {
    color: black;
    font-size: 20px;
}

.sosial-media {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.media img:hover {
    transition: 0.3s;
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #FFF5B7;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
    line-height: 100px;
    color: black;
}